[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
airtable-python-wrapper = "*"
cloudinary = "*"
newspaper3k = "*"
gensim = "<=3.8.3"
newsapi-python = "*"
documentcloud = "*"

[requires]
python_version = "3.8"
